body{
  text-align: center;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

section{
  width: 90%;
  margin: 0 auto;
}

h1{
  font-family: 'Roboto Slab', serif;
  color: #CF5200;
  text-transform: uppercase;
  font-size: 38px;
  margin-bottom: 0;
}

h2{
  color: #3cc3b2;
  margin-top: 5px;
}

h3 {
  color: #3cc3b2;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
}

p{
  font-size: 15px;
  line-height: 1.5;
}

.activity{
  width: 30%;
  display: inline-block;
  margin: 0 10px;
  text-align: left;
  vertical-align: top;
}

.picture{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
}

.picture img{
  height: 100%;
}
